<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <title>Document</title>
  </head>

  <body>
    <!--管理者画面-->
    <th:block th:include="/header :: common-header"></th:block>

    <!--登録フォーム-->
    <div id="formWrapper">
      <div class="logo"></div>
      <div id="form">
        <form class="data_form" th:action="@{/data_regist}" th:object="${form}">
          <input type="hidden" th:field="*{characterId}" />
          <div class="form-item">
            <p class="formLabel">character</p>
            <input type="text" th:field="*{characterName}" class="form-style" />
          </div>
          <div class="form-item">
            <p class="formLabel">birthday</p>
            <input type="text" th:field="*{birthday}" class="form-style" />
          </div>
          <div class="form-item">
            <p class="formLabel">innocence</p>
            <input
              type="text"
              placeholder="なければ「なし」"
              th:field="*{weapon}"
              class="form-style"
            />
          </div>
          <div class="form-item">
            <p class="formLabel">nationality</p>
            <input type="text" th:field="*{nationality}" class="form-style" />
          </div>
          <div class="form-item">
            <p class="formLabel">height</p>
            <input type="text" th:field="*{height}" class="form-style" />
          </div>
          <div class="form-item">
            <p class="formLabel">fav</p>
            <input type="text" th:field="*{fav}" class="form-style" />
          </div>
          <div class="form-item">
            <p class="formLabel">dislike</p>
            <input type="text" th:field="*{dislike}" class="form-style" />
          </div>
          <div class="form-item">
            <select class="form-style" th:field="*{gender}">
              <option value="">性別</option>
              <option value="1" selected>男性</option>
              <option value="2" selected>女性</option>
              <option value="3" selected>その他</option>
            </select>
          </div>
          <div class="form-item">
            <select class="form-style" th:field="*{memberOf}">
              <option value="">所属</option>
              <option value="1">エクソシスト</option>
              <option value="2">教団員</option>
              <option value="3">ノア</option>
              <option value="4">その他</option>
            </select>
          </div>

          <button id="btn_return" class="btn_for_admin" type="button">
            RETURN
          </button>
          <button id="btn_submit" class="btn_for_admin" type="button">
            SUBMIT
          </button>
        </form>
      </div>
    </div>

    <!--以下JavaScript-->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript">
      $(function() {
        $("#btn_return").click(function() {
          location.href = "/admin";
        });

        $("#btn_submit").click(function() {
          $(".data_form").submit();
        });

        $(document).ready(function() {
          var formInputs = $('input[type="text"]');
          formInputs.focus(function() {
            $(this)
              .parent()
              .children("p.formLabel")
              .addClass("formTop");
            $("div#formWrapper").addClass("darken-bg");
            $("div.logo").addClass("logo-active");
          });
          formInputs.focusout(function() {
            if ($.trim($(this).val()).length == 0) {
              $(this)
                .parent()
                .children("p.formLabel")
                .removeClass("formTop");
            }
            $("div#formWrapper").removeClass("darken-bg");
            $("div.logo").removeClass("logo-active");
          });
          $("p.formLabel").click(function() {
            $(this)
              .parent()
              .children(".form-style")
              .focus();
          });
        });
      });
    </script>
  </body>
</html>
